### Initialize spark.

In [0]:
import sys
sys.path.append('/class')
from initspark import *
sc, spark, conf = initspark()

### Read in the dataset and ignore the first row.

In [0]:
cc = sc.textFile('/class/datasets/finance/CreditCard.csv')
first = cc.first()
cc = cc.filter(lambda x : x != first)
print(cc.take(10))

### Split the lines by commas.

In [0]:
cc = cc.map(lambda x : x.split(',')) 
print(cc.take(10))

### Create a tuple where the key is city, country and the values are gender and amount which is converted into a float.

In [0]:
cc = cc.map(lambda x : ((x[0][1:], x[1][1:-1]), (x[5], float(x[6]))))
print(cc.collect())

### Filter on the gender = F and return an output of the same compound key but a value of the amount only.

In [0]:
ccf = cc.filter(lambda x : x[1][0] == 'F').map(lambda x : (x[0], x[1][1]))
print(ccf.collect())

### Sum up all of the amounts by key and sort by key to show the values in city, country order.

In [0]:
ccg = ccf.reduceByKey(lambda x, y : x + y)
print(ccg.sortByKey().collect())

### Bonus! The ten highest cities.

In [0]:
ccg.sortBy(lambda x : x[1], ascending = False).take(10)